{% extends 'base.html' %}
{% load static %}
{% block title %} Delete - {{obj}} {% endblock %}


{% block content %}

<!-- .w-full.lg:w-2/4.mx-auto.my-12 -->
<div class="w-full lg:w-2/4 mx-auto my-12">
    <div class="text-white myshadow rounded px-3 md:px-6 py-5 md:py-8">
        <form action="" method="POST" class="text-center">
            {% csrf_token %}
            <p class="text-lg text-black font-medium mb-3">Are you sure want to delete '{{obj}}' </p>
            <a href="{{request.META.HTTP_REFERER}}" class="btn bg-rose-500 mr-2">Cancel</a>
            <button type="submit" class="btn btn bg-slate-800 hover:bg-slate-700">Confirm</button>
        </form>
    </div>
</div>

{% endblock %}