{% extends 'base.html' %}
{% load static %}
{% block title %} Password reset done {% endblock %}
{% block content %}

<div class="w-full lg:w-2/4 mx-auto my-12">
    <div class="bg-white myshadow rounded py-6 lg:py-10 px-4 lg:px-8 mx-2">
        <h2 class="text-xl uppercase font-medium">Password reset sent</h2>
        <p class="my-4 text-md">
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
            <br><br>

            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder.
        </p>

    </div>



</div>

{% endblock %}