{% extends 'base.html' %}
{% load static %}
{% block title %} Complete password reset {% endblock %}
{% block content %}

<div class="w-full lg:w-2/4 mx-auto my-12">
    <div class="bg-white myshadow rounded py-6 lg:py-10 px-4 lg:px-8 mx-2">
        <h2 class="text-xl uppercase font-medium">Password reset complete</h2>
        <p class="my-4 text-md">
            Your password has been set. You may go ahead and log in now..
        </p>
        <a href="{% url 'login' %}" class="btn bg-slate-800 hover:bg-slate-700 mt-4" type="submit">Login</a>


    </div>



</div>

{% endblock %}