{% extends 'base.html' %}
{% load static %}
{% block title %} Password reset {% endblock %}
{% block content %}

<div class="w-full lg:w-2/4 mx-auto my-12">
    <div class="bg-white myshadow rounded py-6 lg:py-10 px-4 lg:px-8 mx-2">
        <h2 class="text-xl uppercase font-medium">Password reset</h2>
        <p class="my-4 text-md">Forgotten your password? Enter your email address below, and we’ll email
            instructions for setting a new one.</p>

        <form action="" class="my-5 lg:my-8" method="POST">
            {% csrf_token %}

            <div class="form__group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter Email...">
            </div>

            <button class="btn bg-slate-800 hover:bg-slate-700 mt-4" type="submit">Send mail</button>

        </form>


    </div>



</div>

{% endblock %}